@import url(https://abhijeetsingla.netlify.app/css/styles.css);

html, body, #root{
    height: 100%;
}

div.MuiInputBase-formControl::before{
    border-bottom-color: var(--blog-card-text-color);
}

.pl-base{
    padding-inline-start: "2rem"; 
    padding-inline-end: "2rem"; 
    padding-Block-start: "1.5rem"; 
    padding-block-end: "1.5rem";
    font-size: 1.5rem;
    border-radius: 20px;
}

.profit{
    background-color: green;
}

.loss{
    background-color: red;
}